@charset "UTF-8";

/* 기본 설정 */
html {
    font: 300 10px "Noto Sans KR", sans-serif;
    color: #222;
}
body {
    font-size: 1.4rem;
    background: #f2f2f2;
    height: 100vh;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 90%;
}

/* main */
#main {
    width: 100vw;
    height: calc(100vh - 65px);
    display: flex;
    justify-content:space-between;
    height: 100%;
}
#main .container {
}
#main .leftBox {
    width: 60%;
}
#main .rightBox {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 27.5%;
    height: calc(100vh - 60px);
    text-align: center;
    box-sizing: border-box;
    background: #f2f2f2;
    z-index: 1;
}
#main .rightBox b {
    font-size: 2rem;
    letter-spacing: 3px;
    color: #555;
}
#main .rightBox h2 {
    font-size: 8rem;
    margin-bottom: 1em;
    font-weight: 800;
}
#main .rightBox .btnStart {
    display: inline-block;
    width: 8em;
    height: 3em;
    font-size: 3rem;
    background: #2E3C7E;
    color: #f2f2f2;
    text-align: center;
    line-height: 3em;
    box-sizing: content-box;
    border-radius: 10px;
    border: 3px solid transparent;
    transition: .3s;
}
#main .rightBox .btnStart:hover {
    border: 3px solid #2e3c7e;
    background: transparent;
    color: #2E3C7E;
}

figure video {
    position: absolute;
    left: 0; right: 0;
    height: 100vw;
}