<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<context:annotation-config />

	<context:component-scan base-package="com.nadri">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Repository" />
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Service" />
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Component" />
	</context:component-scan>

	<!--Oracle -->
	<bean id="oracleDatasource"
		class="oracle.jdbc.pool.OracleDataSource" destroy-method="close">
		<property name="URL"
			value="jdbc:oracle:thin:@3.38.149.203:1521:xe" />
		<property name="user" value="nadri" />
		<property name="password" value="kosta0000" />
		<property name="connectionCachingEnabled" value="true" />
		<qualifier value="main-db" />
	</bean>

	<!-- MyBatis SqlSessionFactoryBean -->
	<bean id="sqlSessionFactory"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="oracleDatasource" />
		<property name="configLocation"
			value="classpath:mybatis/configuration.xml" />
	</bean>

	<!-- MyBatis SqlSessionTemplate -->
	<bean id="sqlSession"
		class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>

	<!-- transactionManager -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="oracleDatasource"></property>
	</bean>

	<!-- BO class bean등록 -->
	<bean id="naverLoginBO" class="com.nadri.bo.NaverLoginBO" />

	<!-- google Class Bean설정 추가 -->
	<!-- 클라이언트ID와 보안비밀 세팅 -->
	<bean id="googleConnectionFactory" class="org.springframework.social.google.connect.GoogleConnectionFactory">
		<constructor-arg value="1037082742337-98t0m10nsngjukf1fnj3ahrtg39ikb1t.apps.googleusercontent.com" />
		<constructor-arg value="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"/>
	</bean>

	<!-- 승인된 자바스크립트 원본과 승인된 리디렉션 URI -->
	<bean id="googleOAuth2Parameters"
		class="org.springframework.social.oauth2.OAuth2Parameters">
		<property name="scope"
			value="https://www.googleapis.com/auth/plus.login" />
		<property name="redirectUri" value="http://localhost:8088/user/googleCallback" />
	</bean>

</beans>
